<div class="index-main">
  <div class='coffee-contents'>
    <ul class='coffee-lists'>
      <h2 class='title'>投稿一覧</h2>
      <li class='list'>
        <div class='coffee-img-content'>
          <%= image_tag "sample-1.jpeg", class: "coffee-img" %>
          <div class='coffee-info'>
            <h3 class='coffee-name'>
              スタバ カフェベロナ
            </h3>
          </div>
        </div>
      </li>
       <li class='list'>
        <div class='coffee-img-content'>
          <%= image_tag "sample-2.jpeg", class: "coffee-img" %>
          <div class='coffee-info'>
            <h3 class='coffee-name'>
              スタバ ライトノート
            </h3>
          </div>
        </div>
      </li>
       <li class='list'>
        <div class='coffee-img-content'>
          <%= image_tag "sample-3.jpeg", class: "coffee-img" %>
          <div class='coffee-info'>
            <h3 class='coffee-name'>
              カルディ モーニングブレンド
            </h3>
          </div>
        </div>
      </li>
      <h3 class='see-more'>もっと見る</h3>
    </ul>
  </div>
</div>